# Uses turv to add aliases/functions to shell
# https://dev.to/ppfenning92/turv-a-simple-and-secure-way-to-manage-environment-variables-per-directory-47m5

# THIS FILE IS NOT CURRENTLY IGNORED

export DJANGO_SETTINGS_MODULE=taskplanner.settings.dev
export PROJECT_DIR="$(cd -- "$(dirname -- "${BASH_SOURCE[0]:-$0}")" && pwd)"
export PYTHONPATH=$PROJECT_DIR

_load() {
    echo $DJANGO_SETTINGS_MODULE;
    alias dj="uv run django-admin";
    alias task="uv run task";
    # alias tasks="task -l";
    source "$PROJECT_DIR/.env"
}

_unload() {
}
