annotated-types==0.7.0
anyascii==0.3.3
asgiref==3.10.0
beautifulsoup4==4.14.2
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
dataclass-wizard==0.35.1
defusedxml==0.7.1
django==5.2.8
django-click==2.4.1
django-filter==25.2
django-modelcluster==6.4
django-permissionedforms==0.1
django-stubs-ext==5.2.7
django-taggit==6.1.0
django-tasks==0.8.1
django-treebeard==4.7.1
djangorestframework==3.16.1
draftjs-exporter==5.1.0
et-xmlfile==2.0.0
filetype==1.2.0
idna==3.11
iniconfig==2.3.0
laces==0.1.2
markdown-it-py==4.0.0
mdurl==0.1.2
modelsearch==1.1
openpyxl==3.1.5
packaging==25.0
pillow==12.0.0
pillow-heif==1.1.1
pluggy==1.6.0
pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
python-dotenv==1.2.1
requests==2.32.5
rich==14.2.0
soupsieve==2.8
sqlparse==0.5.3
telepath==0.3.1
todoist-api-python==3.1.0
typing-extensions==4.15.0
urllib3==2.5.0
wagtail==7.2
willow==1.12.0
