{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Planner{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            {% block navigation %}
            <a href="{% url 'home' %}">Dashboard</a>
            <a href="{% url 'template-list' %}">Templates</a>
            {% if user.is_staff %}
            <a href="/admin/">Admin</a>
            {% elif not user.is_authenticated %}
            <a href="{% url 'account_login' %}">Login</a>
            {% endif %}
            {% endblock %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% comment %} <p>&copy; 2026 tombola</p> {% endcomment %}
        {% endblock %}
    </footer>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
